#message {
  background: #E9FFE4;
  border: 1px solid #178201;
  padding: 20px 40 px;
  margin: 12 px 0;
  border-radius: 4px;
  opacity: 1;
  transition: opacity .2s ease;
}
#message.dismissed {
  opacity: 0;
  height: 0;
}
h1#site-title {
  font-size: 48px;
  color: #3f51b5;
  font-family: verdana;
  text-align: center;
}
h1#article-title {
  font-size: 30px;
  text-align: center;
}
article {
  float: left;
  width: 800px;
}
figure {
  border: 1px;
  float: right;
  color: solid black;
  padding: 10px;
}
figure img {
  max-width: 100%;
  height: auto;
}
ul li a {
    text-decoration: none;
}
ul li a:hover {
  text-decoration: underline;
}
footer {
  height: 100px;
}

  
