h1#site-title {
  font-size: 48px;
  color: ;
  font-family: verdana;
  text-align: center;
}
h1#article-title {
  font-size: 30px;
  text-align: left;
}
article {
  width: 800px;
}
figure {
  border: 1px;
  color: solid black;
  padding: 10px;
}
figure img {
  max-width: 100%;
  height: auto;
  background: purple;
}
@media all and (min-width:376 pc) {
  nav ul {
    display: flex;
    jusitfy-content: center;
    gap: 30px;
  }
  ul li a {
    text-decoration: none;
  }
  ul li a:hover {
    text-decoration: underline;
  }

  
