h1#site-title {
  font-size: 48px;
  color: black;
  font-family: verdana;
  text-align: center;
}
h1#article-title {
  font-size: 30px;
  text-align: center;
}
article {
  float: left;
  width: 800px;
}
figure {
  border: 1px;
  color: solid black;
  padding: 10px;
}
figure img {
  max-width: 100%;
  height: auto;
}
ul li a {
    text-decoration: none;
}
ul li a:hover {
  text-decoration: underline;
}
footer {
  height: 100px;
}

  
