h1#site-title {
  font-size: 48px;
  font-family: verdena;
  text-align: center;
}
h1#article-title {
  font-size: 30px;
  text-align: center;
  color: #0ED2B7;
}
article {
  float: left;
  width: 800px;
}
figure {
  border: 1px solid black;
  padding: 5px;
}
figure.main-image { 
  float: right;
  margin-left: 20px;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}



