h1#site-title {
  font-size: 48px;
  font-family: verdena;
  text-align: center;
}
h1#article-title {
  font-size: 30px;
  text-align: left;
}
article {
  width: 800px;
}
figure {
  border: 1px solid black;
  padding: 10px;
}
figure img { 
  max-width: 100%;
  height: auto;
  margin-bottom: 12px;
}
 p img{
    float: right;
    max-width: 80%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 32px;
  }


