h1#site-title {
  font-size: 48px;
  font-family: verdena;
  text-align: center;
}
h1#article-title {
  font-size: 30px;
  text-align: center;
  color: #0846C2;
}
article {
  float: left;
  width: 800px;
}
figure {
  border: 5px solid black;
  padding: 10px;
}
figure.main-image { 
  background: palevioletred;
  border-color:mediumvioletred;
  color: #ffffff
  float: right;
  margin-left: 20px;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
ul li a {
    text-decoration: none;
}
ul li a:hover {
    text-decoration: underline;
}
footer {
  height: 100px;
}
